h1 {
  color: #049dd9;
  font-family: "Raleway", sans-serif;
  line-height: 61.6px;
  font-size: 56px;
}

.app-header {
  border-bottom-style: solid;
  border-color: #99b0a8;
}

.page-content {
  flex: 1;
}
.app {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 21px;
  background-image: url("../../../assets/img/bg/sidebar.png");
  padding: 28px;
  height: 100%;
}
.avatar img {
  width: 340px;
}

.user-greetings {
  font-size: 31px;
  color: #046186;
}

.menu {
  color: #a6418b;
  font-size: 31px;
}

.menu ul {
  list-style: none;
}
.icon img {
  width: 53px;
}

li {
  display: flex;
  display: flex;
  flex-direction: row;
  gap: 49px;
  align-items: center;
  padding: 20px;
}
